<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Page</title>
        <link href="../css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css">
        <link rel='stylesheet' type='text/css' media='screen' href='../css/about.css'>
    </head>
<body>
    <!---Header section starts-->
    <header>
        <h1>Hello, Welcome to CoinPool About Page </h1>
        <p>The Evolving Defi Crowd Lending Protocol</p>
    </header>
    <!---Header section ends here-->

<!--About *accordion* starts here-->

        <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#panel-1" data-toggle="collapse" data-parent="#accordion">
                            How to start a pool
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse in" id="panel-1">
                    <div class="panel-body">
                        <p>We will be discussing step by step, on how to start a pool</p>
                    </div>
                </div>
            </div> 
    
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#panel-2" data-toggle="collapse" data-parent="#accordion" class="collapsed">
                            How to join a pool
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="panel-2">
                    <div class="panel-body">
                        <p>We will be discussing step by step, on how to join a pool</p>
                    </div>
                </div>
            </div> 
    
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#panel-3" data-toggle="collapse" data-parent="#accordion" class="collapsed">
                            How to earn cToken
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="panel-3">
                    <div class="panel-body">
                        <p>We will be discussing step by step, on how to earn cToken</p>
                    </div>
                </div>
            </div> 
    
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a href="#panel-4" data-toggle="collapse" data-parent="#accordion">
                            How to use cToken
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse" id="panel-4">
                    <div class="panel-body">
                        <p>We will be discussing step by step, on how to use cToken</p>
                    </div>
                </div>
            </div> 
        </div>

    </div>
    
<!--About *accordion* ends here-->

        <!--Footer section starts-->
<footer>
    <div class="footer fixed-bottom">
    <a href="index.html"><img src="../Includes/icons/home.png" alt="home" class=""></a>
    <a href="transfer.html"><img src="../Includes/icons/tf.png" alt="transfer" class=""></a>
    <a href="pool.html"><img src="../Includes/icons/pool.png" alt="pool" class=""></a>
    <a href="#"><img src="../Includes/icons/chart.png" alt="market" class=""></a>
    <a href="setting.html"><img src="../Includes/icons/set.png" alt="settings" class=""></a>
    </div>
  </footer>
  <!--Foooter section ends-->

<script src="../js/jquery-3.3.1.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap-4.3.1.js"></script>
</body>
</html>